/* css for the home page of key feature section  */

#key-features {
    color: #2980b9;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section-title h2 {
    color: #333333;
    font-family: 'Raleway', sans-serif;
    clear: both;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7em;
    text-align: center;
    margin-bottom: 30px;
    color:#1f68c7;
}

#key-features h5 {
    margin-top: 25px;
    margin-bottom: 15px;
    color: #1f68c7;
}

#key-features p {
    color: #333333;
}