html,body,header,section,nav,h1,h2,h3,h4,h5,h6,
figure,a,div,ul,li,img{
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
}
a{
	display: block;
	text-decoration: none !important;
	color: #000;

}
li{
	list-style-type: none;
}
html{
	width: 100%;
}

.DBM-formbar{
  width:400px;
  padding: 18px;
  background: #fafafa;
  border-radius: 4px;
  z-index: 9999;
  position: fixed;
  top: 25%;
  left:30%;

}

#cover{
  position: fixed;
  z-index: 9997;
  top:0px;
  left:0px;
  display: none;
  width:100%;
  height:100%;
  opacity: 0.5;
  background: #000 none repeat scroll 0% 0%;
}
/**
 *
 *
 * header styles
 *
 *
 */
 header{
   	width: 100%;
   	height: 120px;
		border-bottom: 1px solid #6d3030;
   	/*margin: 0 auto;*/
 }
/*header{
	width: 100%;
	height: 50px;
}

.header-wrap{
	width: 1166px;
	height: 50px;
	line-height: 50px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	position: relative;
}
.header-left,.header-right,.header-right ul,nav .ul1{
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header-left figure a{
	height: 50px;
	padding: 0 15px 0 0;
	line-height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header-left figure img{
	width: 30px;
	height: 20px;
	margin-right: 10px;
}

.header-left .ul1>li{
	padding: 0px 15px;
	border-bottom: 2px solid #eee;
}
.header-left .ul1>li:hover{
	border-bottom: 2px solid #00c1d1;
	transition: .2s;
}
.DBM:hover{
	color: #333;
}
.header-right input{
	width: 300px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	outline: none;
	border: none;
	border-bottom: 1px solid #cacaca;
}
.header-right input:focus{
	border-bottom: 1px solid #00c1d1;
}
.header-right ul li{
	margin-left: 30px;
}*/
/*nav styles*/
header nav{
  	width: 1200px;
  	height: 80px;
  	margin: 0 auto;
  	display: flex;
  	flex-direction: row;

  	position: relative;
}

header nav .logo{

  	/*bottom: 0;*/
}

header nav .logo img{
  	/*height: 120px;
  	box-shadow: 2px 0px 6px #666,
              -2px 0px 6px #666*/
              /*0px 2px 4px #fff,*/
              /*0px -2px 4px #fff*/;
}

/*other-nav CSS*/
.others{
  	height: 40px;

 		background-color: #383d41;

  	display: flex;
  	flex-direction: row;
}

.others a{
  	margin-right: 30px;
}

.others a:first-child{
  	margin-left: 640px;
}





/*Adolf navCSS*/
.login-panel{
	margin-left:70px;
}

.login-panel li{
	margin-right:30px;
}

.login-panel a {
	font-weight: bold;

}


/*Adolf navCSS*/
header nav ul{
  	display: flex;
  	flex-direction: row;

}

header nav ul li{
  	height: 80px;
  	line-height: 80px;
  	margin-right: 50px;

  	white-space: nowrap;
}

header nav ul li a{
  	color: #161616;
}
header nav ul li a:hover{
  	color: #1e9ed0;
  	text-decoration: underline;
}
/*subnav*/
.applictions-sub-wrap{
	display: none;
	position: absolute;
	top: 80px;
	left: 12px;
	height: 240px;
	width: 1166px;
	z-index: 999;

	background-color:#505e65;
	transition: .2s

}
.applictions-sub{
	width:1020px;
	margin:1px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.applictions-sub>li{
	width: 120px;
	height: 50px;
	text-align: center;
	line-height:50px;
	/*padding: 0 30px;*/
}
.applictions-sub>li:hover{
	background-color: #00c1d1;
	transition: .2s;
}

.applictions-sub>li>a{
	color: #fff;
}

.applictions:hover .applictions-sub-wrap{
	display: block;
}

.search-img{
	position: relative;
	left: -30px;
}
/**
 *
 *
 * banner styles
 *
 *
 */

 .banner{
 	width: px;
 	height: 340px;
 	margin: 0.6px auto;
 	overflow: hidden;
 }
 .banner ul{
 	width: 500%;
 	height: 300px;
 }
.banner ul li,.banner ul li a{
  	width: 1166px;
  	height: 300px;
}

.AI-img{
	width: 295px;
	height: 171px;
}

/*owl.css-style*/
.item img{
	width:100%;
	height:300px;

}

.owl-wrapper-outer{
	z-index: 1;
}

/* Adolf search CSS*/
.DBM-searchbar{
	width:1166px;
	height:50px;
	margin:0 auto;
	position: relative;
	background: #4a5158
}

.search-from{
	top:8px;
	right:30%;
	position: absolute;
}

#tags{
	height:30px;
	width:470px;
}

#search-g{
	background: #fff;
    position: absolute;
    width: 40px;
    height: 35px;
    top: 0;
    right: -41px;
    display: block;
    border: 0.01px solid #8e8282;
		cursor:pointer;
}

#search-g img{
	width: 30px;
	line-height: 35px;
	margin-left: 5px;
	margin-top: 3px;
}


/**
 *
 *
 * main products styles
 *
 *
 */

main{
	width: 1166px;
	margin: 0 auto;
	margin-bottom: 50px;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 22px;
	margin-bottom: 20px;
}
.products-title{
	margin: 60px 0 40px 0;
	height: 40px;
	border-bottom: 2px solid #333;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
main ul{
	width: 1166px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
main li{
	width: 210px;
	padding: 30px;
	text-align: center;
	border: 2px solid #fff;

	border-radius: 5px;
	box-shadow: -2px 0 3px #a2c9ea,
				2px 0 3px #a2c9ea,
				0 -2px 3px #a2c9ea,
				0 2px 3px #a2c9ea;
}
main li:hover{
	border: 2px solid #a2c9ea;

}
main li p{
	height: 100px;
	margin-top: 20px;
	text-align: left;
}
main .price{
	width: 100%;
	text-align: right;
	margin-left: 20px;
	font-size: 18px;
	color: #ff6700;

}
main .buttons{
	width: 100%;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.buttons button{

	padding: 6px 8px;
	border-radius: 5px;

	color: #fff;
	font-size: 15px;
	background-color: #29abe2;
	border: none;
}
 .buttons button:hover{
	background-color: #248ec7;
	box-shadow: 1px 1px 1px #444;
}

/* ---------------------------P and F Products-List CSS-------------------------------------*/
.product-top{
    width: 100%;
		height: 30px;
    margin-bottom: 10px;
    position: relative;
		font-weight: 700;

}

.product-top a{
	position: absolute;
	left: 0;
}

.product-top span{
	font-size: 12px;
	text-align: inherit;
	color: #000;
	font-weight: 400;
	position: absolute;
	top: 15px;
	right: 12px;
}

.products-detail{
	min-height: 100px;
	max-height: 100px;
}

.products-img img{
	width: 100px;
	height: 100px;
}

/* ---------------------------P and F Products-List CSS(END!)-------------------------------*/




/* ---------------------------Price-and Star CSS--------------------------------------------*/
.starsBar img{
	width: 16px;
	height: 16px;
}
/* ---------------------------Price-and Star CSS(END!)--------------------------------------*/




/*         Partner CSS            */
.partner-logo{
	width: 1166px;
	padding: 20px 10px 0;
	margin: 40px auto;
	margin-top: 30px;
}
.partner-logo ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/* ---------------------------Partner CSS(END!)-------------------------------*/

/*         Why we use DBM CSS            */
.why{
  	width: 100%;
  	margin-top: 20px;
  	padding-top: 50px;
  	background-color: #383d41;

  	text-align: center;
}

.why h3{
  	margin: 0 0 40px 0;
  	color: #fefefd;
  	font-size: 25px;
}

.why-ans{
	width: 950px;
	margin: 0 auto;
	/*padding-left: 10px;*/
	/*box-sizing: border-box;*/

  	text-align: left;

  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
}

.why-ans li{
  	list-style-type: disc;
  	color: #c1d1d1;
  	font-size: 10px;
  	margin-bottom: 20px;
}

.why-ans a{
  	color: #c1d1d1;
  	font-size: 15px;
}

.why-ans a:hover{
	color: #1ea0d3;
	text-decoration: underline;

	transition: .2s;
}
/*         Why we use DBM CSS (END)           */


/*         Adolf F and P Product CSS            */

.DBM-FproductsBar p , .DBM-PproductsBar p{
	font-size: 12px;
}

/**

/**
 *
 *
 * footer styles
 *
 *
 */
 footer{
   	background-color: #3b3d41;
 }

 footer .footer-main{
   	width: 1000px;
   	margin: 0 auto;
   	display: flex;
   	flex-direction: row;
   	justify-content: space-between;
 }

 footer .footer-list{
   	text-align: left;

   	color: #c0c1c2;

   	display: flex;
   	flex-direction: row;
 }

 footer .footer-list ul{
   margin-right: 60px;

   position: relative;
 }

 footer .footer-list ul:first-child:after,
 footer .footer-list ul:last-child:before{
   content: '';
   position: absolute;
   top: 100px;
   right: 0px;

   width: 1px;
   height: 220px;
   background-color: #4b5154;

   box-shadow: 1px 0px 3px rgba(255,255,255,0.1);

 }

 footer .footer-list h3{
	 color:#ecebeb;
   font-size: 20px;
   margin: 35px 0 40px;
 }

 footer .footer-list ul li{
   margin: 20px 0;
 }

 footer .footer-list a{
   font-size: 15px;
   color: #c0c1c2;
   font-weight: 300;
 }

 footer .footer-list a:hover{
 	color: #1e9ed0;
   	text-decoration: underline;
 }

 .social{
   margin-top: 120px;
   font-size: 12px;
   color: #f5f5f5;
 }

 .social p{
   margin-bottom: 30px;
 }

 .social ul{
   display: flex;
   flex-direction: row;
 }
 .social ul li{
   margin-right: 10px;
 }

 footer>p{
   text-align: center;
   background-color: #fff;
   font-size: 12px;
   line-height: 20px;
   padding: 10px 0;
 }
