{% extends "clients/auth_new_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Password Reset Done{% endblock %}

{% block form_heading %}Password Reset Email Sent{% endblock %}

{% block form %}
<div class="form-message">
 <div class="dbm-accounts">
            <div class="well">
                <p class="text-warning">
                    Please check your mail. You would have received a password reset mail from us.
                </p>
            </div>
        </div>
 </div>

{% endblock form %}


{% block footer %}
    </br>
    </br>
    </br>
    {% include "_footer.html" %}
{% endblock %}

