

{% load form_helpers %}
<div class="span2 Tspan2">
  <div class="well sidebar-nav" id="filtration">
    <ul class="nav nav-list">
      <li class="nav-header">By time</li>
      <li>
      	<div class="Tcheckbox"></div>
      	<div class="Ttext">Within one day</div>
      	<div class="Tnumber">2</div>
      </li>
      <li>
      	<div class="Tcheckbox"></div>
      	<div class="Ttext">Within one week</div>
      	<div class="Tnumber">2</div>
      </li>
      <li>
      	<div class="Tcheckbox"></div>
      	<div class="Ttext">Within one month</div>
      	<div class="Tnumber">2</div>
      </li>
      <li>
      	<div class="Tcheckbox"></div>
      	<div class="Ttext">Within one year</div>
      	<div class="Tnumber">2</div>
      </li>
      <li class="nav-header">By status <div class="Tred">Hot</div></li>
      <li>
      	<div class="Tcheckbox"></div>
      	<div class="Ttext">Pending</div>
      	<div class="Tnumber">2</div>
      </li>
      <li>
      	<div class="Tcheckbox"></div>
      	<div class="Ttext">Active</div>
      	<div class="Tnumber">2</div>
      </li>
      <li>
      	<div class="Tcheckbox"></div>
      	<div class="Ttext">Suspended</div>
      	<div class="Tnumber">2</div>
      </li>
      <li>
      	<div class="Tcheckbox"></div>
      	<div class="Ttext">Deleted</div>
      	<div class="Tnumber">2</div>
      </li>
      <li class="nav-header">By plan</li>
      <li>
      	<div class="Tcheckbox"></div>
      	<div class="Ttext">Express Windows</div>
      	<div class="Tnumber">2</div>
      </li>
      <li>
      	<div class="Tcheckbox"></div>
      	<div class="Ttext">Professional Windows</div>
      	<div class="Tnumber">2</div>
      </li>
      <li>
      	<div class="Tcheckbox"></div>
      	<div class="Ttext">Advanced Windows</div>
      	<div class="Tnumber">2</div>
      </li>
      <li>
      	<div class="Tcheckbox"></div>
      	<div class="Ttext">Custom Defined</div>
      	<div class="Tnumber">2</div>
      </li>
      <li class="nav-header">Free screening</li>
      <li>
      	<div class="TinputText"><input type="text" id="" value="" placeholder="Product name"/></div>              	
      </li>
      <li>
      	<div class="TinputText"><input type="text" id="" value="" placeholder="Order number"/></div>     
      </li>
      <li class="nav-header1">Start date</li>
      <li>
      	<div class="TinputText"></div>
      </li>
      <li class="nav-header1">End date</li>
      <li>
      	<div class="TinputText"></div>
      </li>
      <li>
      	<div class="TinputText"><input type="button" id="" value="Screen" /></div>
      </li>
    </ul>
  </div><!--/.well -->
</div>


<!--原来的代码-->
<!--<div class="panel panel-default">
    <div class="panel-heading">-->
        <!-- <span class="fa fa-search" aria-hidden="true"></span> -->
        <!--<span>SearchS</span>
    </div>
    <div class="panel-body">
        <form action="." method="get" class="form">
                {% for field in filter_form %}
                    <div class="form-group">
                        {% if field.name == "q" %}
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="Search" {% if request.GET.q %}value="{{ request.GET.q }}" {% endif %}/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary">
                                        <span class="fa fa-search" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        {% elif field|widget_type == 'checkboxinput' %}
                            <label for="{{ field.id_for_label }}">{{ field }} {{ field.label }}</label>
                        {% else %}
                            {{ field.label_tag }}
                            {{ field }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="text-center">
                    <button type="submit" class="btn btn-wihte">
                        <span class="fa fa-search" aria-hidden="true"></span> Apply
                    </button>
                    <a href="." class="btn btn-wihte">
                        <span class="fa fa-remove" aria-hidden="true"></span> Clear
                    </a>
                </div>
        </form>
    </div>
</div>-->
