{% load form_helpers %}
<!--<div class="span2 Tspan2">-->
  <!--<div class="well sidebar-nav" id="filtration">-->
    <!--<ul class="nav nav-list">-->
      <!--<li class="nav-header">By time</li>-->
      <!--<li>-->
      	<!--<div class="Tcheckbox"></div>-->
      	<!--<div class="Ttext">Within one day</div>-->
      	<!--<div class="Tnumber">2</div>-->
      <!--</li>-->
      <!--<li>-->
      	<!--<div class="Tcheckbox"></div>-->
      	<!--<div class="Ttext">Within one week</div>-->
      	<!--<div class="Tnumber">2</div>-->
      <!--</li>-->
      <!--<li>-->
      	<!--<div class="Tcheckbox"></div>-->
      	<!--<div class="Ttext">Within one month</div>-->
      	<!--<div class="Tnumber">2</div>-->
      <!--</li>-->
      <!--<li>-->
      	<!--<div class="Tcheckbox"></div>-->
      	<!--<div class="Ttext">Within one year</div>-->
      	<!--<div class="Tnumber">2</div>-->
      <!--</li>-->
      <!--<li class="nav-header">By status <div class="Tred">Hot</div></li>-->
      <!--<li>-->
      	<!--<div class="Tcheckbox"></div>-->
      	<!--<div class="Ttext">Pending</div>-->
      	<!--<div class="Tnumber">2</div>-->
      <!--</li>-->
      <!--<li>-->
      	<!--<div class="Tcheckbox"></div>-->
      	<!--<div class="Ttext">Active</div>-->
      	<!--<div class="Tnumber">2</div>-->
      <!--</li>-->
      <!--<li>-->
      	<!--<div class="Tcheckbox"></div>-->
      	<!--<div class="Ttext">Suspended</div>-->
      	<!--<div class="Tnumber">2</div>-->
      <!--</li>-->
      <!--<li>-->
      	<!--<div class="Tcheckbox"></div>-->
      	<!--<div class="Ttext">Deleted</div>-->
      	<!--<div class="Tnumber">2</div>-->
      <!--</li>-->
      <!--<li class="nav-header">By plan</li>-->
      <!--<li>-->
      	<!--<div class="Tcheckbox"></div>-->
      	<!--<div class="Ttext">Express Windows</div>-->
      	<!--<div class="Tnumber">2</div>-->
      <!--</li>-->
      <!--<li>-->
      	<!--<div class="Tcheckbox"></div>-->
      	<!--<div class="Ttext">Professional Windows</div>-->
      	<!--<div class="Tnumber">2</div>-->
      <!--</li>-->
      <!--<li>-->
      	<!--<div class="Tcheckbox"></div>-->
      	<!--<div class="Ttext">Advanced Windows</div>-->
      	<!--<div class="Tnumber">2</div>-->
      <!--</li>-->
      <!--<li>-->
      	<!--<div class="Tcheckbox"></div>-->
      	<!--<div class="Ttext">Custom Defined</div>-->
      	<!--<div class="Tnumber">2</div>-->
      <!--</li>-->
      <!--<li class="nav-header">Free screening</li>-->
      <!--<li>-->
      	<!--<div class="TinputText"><input type="text" id="" value="" placeholder="Product name"/></div>              	-->
      <!--</li>-->
      <!--<li>-->
      	<!--<div class="TinputText"><input type="text" id="" value="" placeholder="Order number"/></div>     -->
      <!--</li>-->
      <!--<li class="nav-header1">Start date</li>-->
      <!--<li>-->
      	<!--<div class="TinputText"></div>-->
      <!--</li>-->
      <!--<li class="nav-header1">End date</li>-->
      <!--<li>-->
      	<!--<div class="TinputText"></div>-->
      <!--</li>-->
      <!--<li>-->
      	<!--<div class="TinputText"><input type="button" id="" value="Screen" /></div>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>&lt;!&ndash;/.well &ndash;&gt;-->
<!--&lt;!&ndash;</div>-->


<!--原来的代码-->
<div class="span2 Tspan2">
    <div class="well sidebar-nav" id="filtration">
        <form action="." method="get">
            <ul class="nav nav-list">
                {% for field in filter_form %}
                  {% if field|widget_type == 'checkboxselectmultiple' %}
                     <li>
                     		{{ field.label_tag }}
                         {{field}}
                     </li>
                  {% else %}
                     <li>
                        <div class="TinputText">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                     </li>
                   {% endif %}
                {% endfor %}
                <div class="TinputText">
                    <input type="submit" value="Screen"><br />                     
                    <a href="." >
                        Clear
                    </a>
                </div>
            </ul>
        </form>
    </div>
</div>
