{% extends 'base.html' %}
{% load staticfiles %}
{% load helpers %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base3_add.css' %}"/>
{% endblock styles %}



{% block content %}
<div class="row-fluid" id="content_wrapper">
	{% include 'inc/search_panel.html' %}       
	<div id="content_wrapper1" class="span10" >
        <p>{{title}} List</p>

        <div class="Ttable">
         {% include 'utilities/obj_table.html' %}
        </div>	    
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock scripts %}
