{% load form_helpers %}

<div class="span2 Tspan2">
    <div class="well sidebar-nav" id="filtration">
        <form action="." method="get">
            <ul class="nav nav-list">
                {% for field in filter_form %}
                  {% if field|widget_type == 'checkboxselectmultiple' %}
                     <li>
                     		{{ field.label_tag }}
                         {{field}}
                     </li>
                  {% else %}
                     <li>
                        <div class="TinputText">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                     </li>
                   {% endif %}
                {% endfor %}
                <div class="TinputText">
                    <input type="submit" value="Screen"><br />                     
                    <a href="." >
                        Clear
                    </a>
                </div>
            </ul>
        </form>
    </div>
</div>
