{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/order_form.css' %}" />
{% endblock styles %}
{% block leftSiderbar %}
{% endblock leftSiderbar %}
{% block rightcontent %}
	
<div id="content">
	<div class="product">
		<div class="productImg">
			<img src="{{product_app.product_pic}}"/>
		</div>				
		<div class="productInfo">
			{{form.product.errors}}
			<div class="name">{{product_app.app_name}}</div>
			<div class="summary">{{product_app.description}}</div>
			<div class="discount">Six month free trial</div>
			<span class="hidden" id="product_ID">{{product_uuid}}</span>
		</div>
	</div>
	<div class="plan">
		{{form.plan.errors}}
		{% for plan in plan_list %}
		<div class="plan1">
			<div class="planSelect">
			</div>
			<div class="planContent">
				<div class="line1">
					<div class="name">{{plan.name}}</div>
					<div class="price">$ <span>{{plan.price}}</span> /M</div>
					<span class="hidden plan_ID">{{plan.uuid}}</span>
				</div>
				<div class="line2">
					<ul>
						<li>CPU Cores</li>
						<li>{{plan.cpu}}GB</li>
						<li>Memory</li>
						<li>{{plan.memory}}GB</li>
						<li>Disks</li>
						<li>{{plan.disk}}GB</li>
						<li>Instance</li>
						<li>{{plan.instance}}</li>
					</ul>
				</div>
				<div class="line3">
					{{plan.description}}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	
	<!--<div class="money">
		<ul>
			<li class="selected">
				<div class="money1">Monthly $ <span class="priceNum">20.00</span></div>
				<img src="{% static 'img/SC-66.png' %}" class="tick"/>
			</li>
			<li>
				<div class="money2">Quarterly $ <span class="priceNum">57.00</span></div>
				<p>$ 19.00 /M</p>
			</li>
			<li>
				<div class="money2">Semi-Annually $ <span class="priceNum">108.00</span></div>
				<p>$ 18.00 /M</p>
			</li>
			<li>
				<div class="money2">Annually $ <span class="priceNum">204.00</span></div>
				<p>$ 17.00 /M</p>
			</li>
			<li>
				<div class="money2">Biennially $ <span class="priceNum">384.00</span></div>
				<p>$ 16.00 /M</p>
			</li>			
		</ul>		
	</div>	-->
	<div class="addition">
		<div class="additonR">
			Additional requirement
		</div>
		<div class="additonRE">
			<input type="text" name="" id="requirment" value="" />
		</div>
	</div>
	<div class="total">
		<div class="totalA">
			<div class="totalAmount">
				Total Amount $ <span>0.00</span> /M
			</div>
			<div class="buy" id="BUY">
				Buy immediately
			</div>
		</div>
	</div>
	<div class="notes">
		<div class="Notes">Notes</div>
		<ul>
			<li>CPU: CPU basic description CPU basic description CPU basic description</li>
			<li>Memory: Memory basic description Memory basic description Memory basic description</li>
			<li>Disk: Disk basic description Disk basic description Disk basic description</li>
			<li>Instance: Instance basic description Instance basic description Instance basic description</li>
		</ul>
	</div>
</div>

<div id="confirm">
	<div class="back">
		<div class="triangle"><img src="{% static 'img/SC-65.png' %}"/></div>
		<div class="Back">Back to previous step</div>
	</div>
	<div id="orderContent">
		<div id="product">
			<div>
				<div class="name">X-cart</div>
				<!--<div class="price">$ 16.99 /M</div>-->
				<div class="discount">Six month free trial</div>
			</div>
			<div class="summary">X-cart Commerce is a universal eCommerce platform fitting every merchant’s needs: it powers both corporate and small business sites all over the world, companies selling physical and digital goods , companies selling physical and digital goods. </div>
		</div>
		<div id="plan">					
		</div>
		<div id="other" class="line2">
			<ul>
				<li>Name</li>
				<li>{% if user.first_name is not None and user.last_name is not None %} {{user.first_name}} {{user.last_name}}{% else %}{{user.email}}{% endif %}</li>
				<li>Contact Way</li>
				<li>{{user.email}}</li>
				<li>Additional requirement</li>
				<li id="addtion1"></li>
				<!--<li>Created date</li>
				<li>06/11/2017</li>
				<li>Expiration date</li>
				<li>12/11/2017</li>-->
			</ul>
			
		</div>
	</div>
	<div class="total">
		<div class="totalA">
			<div class="totalAmount">
				Total Amount $ <span>0.00</span> /M
			</div>
			<div class="buy" id="confirmOrder">
				Confirm order
			</div>
		</div>
	</div>
</div>
<form method="post" id="myform" class="hidden">
	{% csrf_token %}
	<input type="text" name="product" id="product_ID1" value="" />
	<input type="text" name="plan" id="plan_ID1" value="" />
	<input type="text" name="notes" id="notes1" value="" />	
</form>
{% endblock rightcontent %}
{% block scripts %}
  <script src="{% static 'js/order_form.js' %}"></script>
{% endblock scripts %}