{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block styles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/base3_add.css' %}"/>

{% endblock styles %}


{% block content %} 
<!-- /widget-tab-pane1 -->
{% if messages %}
<ul class="messages alert-style-success" style="text-align: center;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
    {% endif %}

   {% block tab %}

    <form action="." method="post" enctype="multipart/form-data" class="form_module">
 	  <h3>Orders</h3>
 	  <div class="createProduct">	  
 	      <div class="createProduct1">
 	      	<h4>Orders</h4>
		    {% csrf_token %}
		    {% for field in form %}
		            <div class="form-group">
		                {{ field.errors }}
		                {{ field.label_tag }} {{ field }}
		                {% if field.help_text %}
		                <p class="help">{{ field.help_text|safe }}</p>
		                {% endif %}
		            </div>
		    {% endfor %}
		    </div>
    </div>
    <div class="Button">
          <button id=""  type="submit" class="btn dbm-btn-safety">Update Order</button>

    </div> <!-- /form-actions -->
</form>
   {% endblock tab %}

{% endblock content %}

{% block scripts %}



  <script>
    $(document).ready(function() {
        var $messagesul = $('ul.messages');
        if (typeof($messagesul) != "undefined") {
          $messagesul.fadeOut(1000);
        }

        var ids = ["#id_id", "#id_product_name", "#id_user_name"];
        for (var i = ids.length - 1; i >= 0; i--) {
          $(ids[i]).attr('readonly','readonly');
          $(ids[i]).css('cursor','not-allowed');
        }


        var thisactiv = $('#accountbar li:first-child a' );
        $("#accountbar .link-submenu").css('display','block');
        thisactiv.addClass('focus-active');
      });


          var thisactiv = $('#accountbar li:first-child a' );
          $("#accountbar .link-submenu").css('display','block');
          thisactiv.addClass('focus-active');
  </script>
{% endblock scripts %}
