{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block styles %}

<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />

{% endblock styles %}


{% block content %}


<!--Order-list-->
<div class="c-pro-list-content">
  <!--Search-->
  <div class="c-pro-list-searchbar">
    <!--staSel-->
    <div class="c-pro-staSelBar">
      <label for="statusSel">Status</label>
      <select id="statusSel">
        <option value="all">All</option>
        <option value="Pending">Pending</option>
        <option value="Active">Active</option>
        <option value="Cancelled">Cancelled</option>
        <option value="Invalid">Invalid</option>
      </select>
    </div>

  </div>
  <!--orderContainer-->
  <div class="c-pro-list-container">
    <div class="c-pro-list-table">
         <div class="c-pro-list-table-tr">
             <div class="c-pro-list-table-th">Number</div>
             <div class="c-pro-list-table-th">Product Name</div>
             <div class="c-pro-list-table-th">Order Number</div>
             <div class="c-pro-list-table-th">Order Date</div>
             <div class="c-pro-list-table-th">Plan</div>
             <div class="c-pro-list-table-th">Additional requirement</div>
             <div class="c-pro-list-table-th">Cost</div>
             <div class="c-pro-list-table-th">Status</div>
         </div>
         {% for order in orders %}
         <div class="c-pro-list-table-tr">
             <div class="c-pro-list-table-td">1</div>
             <div class="c-pro-list-table-td">{{ order.get_product_name }}</div>
             <div class="c-pro-list-table-td">{{ order.uuid }}</div>
             <div class="c-pro-list-table-td">{{ order.created_date }}</div>
             <div class="c-pro-list-table-td">{{ order.get_plan_name }}</div>
             <div class="c-pro-list-table-td">{{ order.get_user_remarks }}</div>
             <div class="c-pro-list-table-td">${{ order.amount }}</div>
             <div class="c-pro-list-table-td orderStatus">{{ order.status }}</div>
         </div>
         {% endfor %}
    </div>
  </div>
</div>
<div class="upup"></div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
  <script>
    (function($){
        $.fn.selectTab = function(o){
        var d = {
        select:'select', //定义下拉对象
        con:'.c-pro-list-container'          //定义切换对象
        };
        var o = $.extend(d,o);
        var $option = $(d.select).find('option');//遍历下拉对象下的option

        // for(var i = 1; i < $option.length; i++){
        // $option.eq(i).attr('i',i);//设置option 属性i从下标为0开始赋值
        // }
        selectFn();
        $(d.select).change(function(){
        selectFn();
        })
        function selectFn(){
        var selectedIndex = $(d.select).find('option:selected').val(); //保存被选中的option的属性value的值
        if(selectedIndex == "all"){
            // $(d.con).eq(selectedIndex).show().siblings(d.con).hide(); //显示对应显示的对象
            $(d.con).show();
        }else{
          $(d.con).hide();

          $('.orderStatus').each(function() {
            var $thistatus = $(this).text();
            if($thistatus == selectedIndex){
              $(this).parent().parent().parent().show();
            }

          });

    			// var index = $(d.select).find('option:selected').attr("data-index")-1;
    			// $(d.con).hide();
    			// $(d.con).eq(index).show();
        }

          // $(d.con).eq(0).siblings(d.con).show();

        }
        }
        })(jQuery);
        $(function(){
        $().selectTab();
        })
    </script>
{% endblock scripts %}
