{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/order_form.css' %}" />
{% endblock styles %}
{% block leftSiderbar %}
{% endblock leftSiderbar %}
{% block rightcontent %}
	
<div id="content">
	<div class="product">
		<div class="productImg">
			<img src="{% static 'img/SCLogo.png' %}"/>
		</div>				
		<div class="productInfo">
			<div class="name">X-cart Commerce</div>
			<div class="summary">X-cart is a universal eCommerce platform fitting every merchant’s needs:X-cart is a universal eCommerce platform fitting every merchant’s needs: it powers both corporate and small business sites.</div>
			<div class="discount">Six month free trial</div>
			<div class="price">$ 16.99 /M</div>
		</div>
	</div>
	<div class="plan">
		<div class="plan1">
			<div class="planSelect">
				
			</div>
			<div class="planContent">
				<div class="line1">
					<div class="name">Express Windows VPS</div>
					<div class="price">$ <span>10.99</span> /M</div>							
				</div>
				<div class="line2">
					<ul>
						<li>CPU Cores</li>
						<li>5GB</li>
						<li>Memory</li>
						<li>8GB</li>
						<li>Disks</li>
						<li>100GB</li>
						<li>Instance</li>
						<li>1</li>
					</ul>
				</div>
				<div class="line3">
					Express Windows VPS is the best choice for novices. If your demand for resources is few, then Express Windows VPS it is!
				</div>
			</div>
		</div>
		<div class="plan1">
			<div class="planSelect">				
			</div>
			<div class="planContent">
				<div class="line1">
					<div class="name">Express Windows VPS</div>
					<div class="price">$ <span>16.99</span> /M</div>
					
				</div>
				<div class="line2">
					<ul>
						<li>CPU Cores</li>
						<li>5GB</li>
						<li>Memory</li>
						<li>8GB</li>
						<li>Disks</li>
						<li>100GB</li>
						<li>Instance</li>
						<li>1</li>
					</ul>
				</div>
				<div class="line3">
					Express Windows VPS is the best choice for novices. If your demand for resources is few, then Express Windows VPS it is!
				</div>
			</div>
		</div>
	</div>
	<div class="money">
		<ul>
			<li class="selected">
				<div class="money1">Monthly $ <span class="priceNum">20.00</span></div>
				<img src="{% static 'img/SC-66.png' %}" class="tick"/>
			</li>
			<li>
				<div class="money2">Quarterly $ <span class="priceNum">57.00</span></div>
				<p>$ 19.00 /M</p>
			</li>
			<li>
				<div class="money2">Semi-Annually $ <span class="priceNum">108.00</span></div>
				<p>$ 18.00 /M</p>
			</li>
			<li>
				<div class="money2">Annually $ <span class="priceNum">204.00</span></div>
				<p>$ 17.00 /M</p>
			</li>
			<li>
				<div class="money2">Biennially $ <span class="priceNum">384.00</span></div>
				<p>$ 16.00 /M</p>
			</li>
			<li>
				<div class="money2">Triennially $ <span class="priceNum">540.00</span></div>
				<p>$ 15.00 /M</p>
			</li>
		</ul>
	</div>
	<div class="addition">
		<div class="additonR">
			Additional requirement
		</div>
		<div class="additonRE">
			<input type="text" name="" id="" value="" />
		</div>
	</div>
	<div class="total">
		<div class="totalA">
			<div class="totalAmount">
				Total Amount $ <span>0.00</span> /M
			</div>
			<div class="buy" id="BUY">
				Buy immediately
			</div>
		</div>
	</div>
	<div class="notes">
		<div class="Notes">Notes</div>
		<ul>
			<li>CPU: CPU basic description CPU basic description CPU basic description</li>
			<li>Memory: Memory basic description Memory basic description Memory basic description</li>
			<li>Disk: Disk basic description Disk basic description Disk basic description</li>
			<li>Instance: Instance basic description Instance basic description Instance basic description</li>
		</ul>
	</div>
</div>

<div id="confirm">
	<div class="back">
		<div class="triangle"><img src="{% static 'img/SC-65.png' %}"/></div>
		<div class="Back">Back to previous step</div>
	</div>
	<div id="orderContent">
		<div id="product">
			<div>
				<div class="name">X-cart</div>
				<div class="price">$ 16.99 /M</div>
				<div class="discount">Six month free trial</div>
			</div>
			<div class="summary">X-cart Commerce is a universal eCommerce platform fitting every merchant’s needs: it powers both corporate and small business sites all over the world, companies selling physical and digital goods , companies selling physical and digital goods. </div>
		</div>
		<div id="plan">					
		</div>
		<div id="other" class="line2">
			<ul>
				<li>Name</li>
				<li>Newt Huang</li>
				<li>Contact Way</li>
				<li>291053667@qq.com</li>
				<li>Created date</li>
				<li>06/11/2017</li>
				<li>Expiration date</li>
				<li>12/11/2017</li>
			</ul>
			<ul>
				<li>Additional requirement</li>
				<li>Please email me when you established !</li>
			</ul>
		</div>
	</div>
	<div class="total">
		<div class="totalA">
			<div class="totalAmount">
				Total Amount $ <span>0.00</span> /M
			</div>
			<div class="buy">
				Confirm order
			</div>
		</div>
	</div>
</div>	
{% endblock rightcontent %}
{% block scripts %}
  <script src="{% static 'js/order_form.js' %}"></script>
{% endblock scripts %}