{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/trialfailed.css' %}" />
{% endblock styles %}

{% block leftSiderbar %}
{% endblock leftSiderbar %}


{% block rightcontent %}
<div id="content">
		<div class="line1">					
				<h4>Purchase successfully !</h4>
				<p>You have applied for a six month free trial.  You can start the trial an hour later.</p>
		</div>
		<div class="line2">
				<input type="button" id="thisproduct" value="Check my product lis"/>
				<input type="button" name="" id="productlist" value="Check my order list" />
		</div>
		<div class="line3">
				<p>SolidClusters won’t send email to tell you there’s a problem about your order. 
					Please don’t be fooled. If you still have a problem about this free trial, 
					please refer to our <span>Trial Terms.</span></p>
		</div>
</div>
{% endblock rightcontent %}


{% block extra_scripts %}
{% endblock extra_scripts %}

{% block scripts %}
<script src="{% static 'js/trialsuccess.js' %}"></script>
{% endblock scripts %}
