{% extends 'utilities/obj_edit.html' %}
{% load form_helpers %}

{% block form %}
    <!-- commondity infomation -->
    <div class="createProduct">
            <div class="createProduct1">
                <h4>Commodity Information</h4>
                    <div class="panel panel-default">
                        <!--<div class="panel-heading"><strong>{{ obj_type|capfirst }}</strong></div>-->
                        <div class="panel-body">
                            {% render_field form.name %}
                            {% render_field form.price %}
                            {% render_field form.manufacturer %}
                            {% render_field form.model %}
                            {% render_field form.sn %}
                            {% render_field form.tag %}
                            {% render_field form.seller %}
                            {% render_field form.purchase_date %}
                            {% render_field form.order_no %}
                            {% render_field form.warranty_date %}
                        </div>
                    </div>

            </div>
        </div>
    <!-- location -->
    <div class="createProduct">
            <div class="createProduct1">
                <h4>Rack</h4>
                    <div class="panel panel-default">
                        <!--<div class="panel-heading"><strong>{{ obj_type|capfirst }}</strong></div>-->
                        <div class="panel-body">
                            {% render_field form.data_center %}
                            {% render_field form.rack %}
                            {% render_field form.u_height %}
                            {% render_field form.status %}
                            {% render_field form.total_electric_current %}
                            {% render_field form.used_electric_current %}
                            {% render_field form.ec_check_date %}
                            {% render_field form.power_stripe_amount %}
                            {% render_field form.total_band_width %}
                            {% render_field form.used_band_width %}
                            {% render_field form.bw_check_date %}
                            {% render_field form.up_router_ip %}
                        </div>
                    </div>

            </div>
        </div>
    <!-- comment -->
    <div class="createProduct">
            <div class="createProduct1">
                <h4>Comment</h4>
                    <div class="panel panel-default">
                        <!--<div class="panel-heading"><strong>{{ obj_type|capfirst }}</strong></div>-->
                        <div class="panel-body">
                            {% render_field form.comments %}
                        </div>
                    </div>

            </div>
        </div>
    <!-- location-->
    <div class="createProduct">
            <div class="createProduct1">
                <h4>Location</h4>
                    <div class="panel panel-default">
                        <!--<div class="panel-heading"><strong>{{ obj_type|capfirst }}</strong></div>-->
                        <div class="panel-body">
                            {% render_field form.location %}
                        </div>
                    </div>

            </div>
        </div>
{% endblock %}

