{% extends "base.html" %}
{% load crudbuilder %}

{% block content %}
 <h3>Detail of </h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
          {% for field in object|get_model_fields %}
            <tr>
                <td>{{object|get_verbose_field_name:field.name}}</td>
                <td>{{object|get_value:field.name|default_if_none:""}}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% endblock content %}