{% extends 'base.html' %}
{% load form_helpers %}

{% block content %}
<form action="." method="post" class="">
	{% csrf_token %}
	{% for field in form.hidden_fields %}
			{{ field }}
	{% endfor %}
	<div class="modal-dialog">
	  <div class="modal-content">

	    <div class="modal-header warnning-alert">
	        <h4 class="modal-title">Delete</h4>
	    </div>

	    <div class="modal-body">
	        {% block message %}<p>Are you sure?</p>{% endblock %}
					<div class="checkbox">
							<label for="{{ form.confirm.id_for_label }}">
									{{ form.confirm }}
									{{ form.confirm.label }}
							</label>
					</div>
	    </div>

	    <div class="modal-footer">
	      <a href="javascript:history.go(-1)"  class="btn btn-default pull-left modal-cancel">Cancel</a>
	      <button type="submit" class="btn btn-danger">Confirm</button>
	    </div>
	  </div>
	</div>
</form>
{% endblock %}
