{% extends 'base.html' %}
{% load form_helpers %}
{% load staticfiles %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base3_add.css' %}"/>
{% endblock styles %}

{% block content %}
    <form action="." method="post" enctype="multipart/form-data" class="form_module">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <h3>Create a new {{ obj_type }}</h3>
        {% block form %}
        <div class="createProduct">
            <div class="createProduct1">
                <h4>{% block title %}{% if obj.pk %}Editing {{ obj_type }} {{ obj }}{% else %}Create a new {{ obj_type }}{% endif %}{% endblock %}</h4>
                {% if form.non_field_errors %}
                    <div class="panel panel-danger">
                        <div class="panel-heading"><strong>Errors</strong></div>
                        <div class="panel-body">
                            {{ form.non_field_errors }}
                        </div>
                    </div>
                {% endif %}
                    <div class="panel panel-default">
                        <!--<div class="panel-heading"><strong>{{ obj_type|capfirst }}</strong></div>-->
                        <div class="panel-body">
                            {% render_form form %}
                        </div>
                    </div>
            </div>
        </div>
        {% endblock %}
        <div class="Button">
        	<a href="{{ return_url }}" class="btn btn-default">Cancel</a>
            {% if obj.pk %}
                <button type="submit" name="_update" class="btn btn-primary">Update</button>
            {% else %}
                <button type="submit" name="_create" class="btn btn-primary">Create</button>
                <button type="submit" name="_addanother" class="btn btn-primary">Create and Add Another</button>
            {% endif %}
                
        </div>
        
    </form>
{% endblock %}
