{% extends "base.html" %}


{% block content %}
<section class="content-header">
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li class="active">Interface</li>
	</ol>
	<div class="deviec-wrapper row">
		<h1 class="col-xs-6 col-md-4 col-lg-4">{{object}}</h1>
		<div class="col-xs-6 col-md-8 col-lg-8  eidt-btnwrapper ">
			{% block button %}
	    	{% endblock %}
		</div>
	</div>
</section>

<section class="content">
<div class="box box-primary" id="content_wrapper">
	<div style="margin:20px;">
	  <div class="box-header with-border">
	    <h3 class="box-title">Detail of {{object}}</h3>
	  </div>
		<div class="box-body">
	    {% include 'utilities/obj_detail_body.html' %}
	    </div>
	</div>
</div>
</section>



{% endblock content %}
