{% extends 'utilities/obj_edit.html' %}
{% load form_helpers %}

{% block form %}
    <!-- commondity infomation -->
    {% include "racks/_device_common.html" %}
    <!-- device specice attr -->
    <div class="createProduct">
            <div class="createProduct1">
                <h4>Firewall</h4>
                    <div class="panel panel-default">
                        <!--<div class="panel-heading"><strong>{{ obj_type|capfirst }}</strong></div>-->
                        <div class="panel-body">
                            {% render_field form.data_center %}
                            {% render_field form.rack %}
                            {% render_field form.u_height %}
                            {% render_field form.status %}

                            {% comment %}
                                difference between device
                            {% endcomment %}

                            {% render_field form.account %}
                            {% render_field form.password %}
                            {% render_field form.mgmt_ip %}
                            {% render_field form.os_version %}
                            {% render_field form.port_amount %}
                            {% render_field form.license_amount %}
                            {% render_field form.safe_area %}
                            {% render_field form.unsafe_area %}
                        </div>
                    </div>

            </div>
        </div>
    <!-- comment -->
    <div class="createProduct">
            <div class="createProduct1">
                <h4>Comment</h4>
                    <div class="panel panel-default">
                        <!--<div class="panel-heading"><strong>{{ obj_type|capfirst }}</strong></div>-->
                        <div class="panel-body">
                            {% render_field form.comments %}
                        </div>
                    </div>

            </div>
        </div>
{% endblock %}

