{% extends "account_base.html" %}
{% load staticfiles %}
{% load static %}
{% block styles %}
{% endblock %}


{% block tab %}


              <form id="edit-passwordchange" class="form-horizontal" method="post" action="{% url 'accounts:passwordchange' %}">
              {% csrf_token %}
                <fieldset>
                     {% for field in form %}
                      <div class="control-group">

                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                      </div>
                     {% endfor %}
                  <br />
                  <br />
                  <div class="form-actions">
                    <button type="submit" class="btn dbm-btn-safety">Save</button>
                  </div>
                </fieldset>
              </form>




{% endblock tab %}
