{% load widget_tweaks %}
{% load helpers %}

<div class="box-body">
{% for group_name, field_name_list in form.Groups.groups.items %}
  <div class="panel panel-default">
        <div class="panel-heading"><strong>{{group_name}}</strong></div>
        <div class="panel-body">
           {% for field_name in field_name_list %}
              <!-- {{ field_name }} -->
              {% with form|getkey:field_name as field %}
                {% if field|widget_type == 'checkboxinput' %}
                    <div class="checkbox">
                        {{ field.errors }}
                        <label>
                        {{ field }} {{ field.label }}
                        </label>
                        {% if field.help_text %}
                        <p class="help-block">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% elif field|field_type == 'timefield' %}
                    <div class="bootstrap-timepicker">
                        <div class="form-group">
                          {{ field.label_tag }}
                          <div class="input-group">
                           <!-- <input class="form-control timepicker" type="text"> -->
                            <div class="input-group-addon">
                              <i class="fa fa-clock-o"></i>
                            </div>
                            {% render_field field class+="form-control pull-right timepicker" %}
                          </div>
                          <!-- /.input group -->
                        </div>
                        <!-- /.form group -->
                    </div>


                {% else %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}


                        {% if field|field_type == 'multiplechoicefield' %}
                            {% render_field field class+="form-control select2 select2-hidden-accessible" placeholder=field.label multiple="" data-placeholder="{{field.label}}" style="width: 100%;" tabindex="-1" aria-hidden="true"%}
                        {% elif field|field_type == 'choicefield' %}
                            {% render_field field class+="form-control select2 select2-hidden-accessible" placeholder=field.label data-placeholder="{{field.label}}" style="width: 100%;" tabindex="-1" aria-hidden="true"%}
                        {% elif field|field_type == 'datefield' %}
                            <div class="input-group date">
                              <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                              </div>
                              <!-- <input class="form-control pull-right" id="datepicker" type="text"> -->
                              {% render_field field class+="form-control pull-right datepicker" %}
                            </div>
                         {% elif field|field_type == 'datetimefield' %}

                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                              </div>
                              <!-- <input class="form-control pull-right" id="reservationtime" type="text"> -->
                               {% render_field field class+="form-control pull-right datetimerange" %}
                            </div>
                        {% else %}
                            {% render_field field class+="form-control" placeholder=field.label %}

                        {% endif %}

                        {% if field.help_text %}
                        <p class="help-block">{{ field.help_text|safe }}</p>
                        {% endif %}

                    </div>
                {% endif %}

              {% endwith %}

           {% endfor %}
        </div>
    </div>
{% endfor %}

</div>





